# (required) Your private key (ex, 0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff )
PRIVATE_KEY=
# (optional) Your manager address if you want to upgrade implement of manager (ex, 0xffffffffffffffffffffffffffffffffffffffff )
MANAGER_ADDRESS=

# (optional) default: https://rpc.silicon.network
SILICON_RPC=
# (optional) default: https://api-cohort.silicon.network
OPEN_COHORT_ENDPOINT=